// C STAN FOR COLOR 
$cmedgreen:#55c57a;
$cliggreen:#7ed56f;
$cdargreen:#28b485;

$cligorange : #ffb900;
$cdarorange : #ff7730;

$cligblue : #2998ff;
$cdarblue : #5643fa;

$cgreylight2:#eee;
$cgreylight1:#f7f7f7;

$cgrey:#777;
$cgreydark2:#999;
$cgreydark3:#333;

$cwhite:#fff;  
$cblack:#000;

//FONT SIZES
$default-font-size:1.6rem;



//GRID KING OF OVERGEARED
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;