*,
*::after,
*::before
 {
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    //DEFINES WHAT 1rem = 10px 
    font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5 


    @include respond(tabland){ //width < 1200 ?
        font-size: 56.25%; // 1rem = 9px ; 9/16 = 56.25%
    }

    @include respond(tabport){ //width < 900 ?
        font-size: 50%; // 1rem = 8px ; 8/16 = 50%

    }

    @include respond(bigdekstop){
        font-size: 75%; // 1rem=12px 12/16 = 75%
    }

}
body {
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tabport){ //width < 900 ?
        padding: 0; 
    }
}

::selection{
    background-color:$cmedgreen;
    color:$cwhite;
}